<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serifp;
  width: 100%;
}

td, th {
  border: 1px solid #302e2e;
  text-align: left;
  padding: 2px;
}

</style>
</head>
<body>

    <center><img src="C:\Users\Jayanth\Desktop\New folder\background.jpg" class="rounded" alt="Cinque Terre"  style="width: 100px; height: 50px;"></center>
    <h2 style="padding-left: 0%; padding-right: 0px; padding-top: 10px; padding-bottom: 0px;" ><center><b>Caste Application Form</b></center></h2>
    <h2><center><b>(Note: Certificate will be issued in 30 working days)</b></center></h2>
    <h4> To</h4>
    <h4> The Revenue Officer,</h4>
    <h4><p><u> example</u> Mandal</p></h4>
    <h4><p><u> example</u> District</p></h4>
    <h4><b> Respected Sir,</b></h4>
    <h4><b> Sub: Request for issued of Cast Certificate of my Son/ Daughter/etc., Reg.</b></h4>
    <h4><b><u> Application Details:</u></b></h4>
<center>

<table>
  <tr>
    <td><b>Applicant Name </b></td>
    <td>&nbsp;{{name}}</td>
  </tr>
  <tr>
    <td><b>Fathername </b></td>
    <td>&nbsp;{{f}}</td>
  </tr>
  <tr>
    <td><b>Mothername</b></td>
    <td>&nbsp;{{m}}</td>
  </tr>
  <tr>
    <td><b>Date of Birth </b></td>
    <td>&nbsp;{{dob}}</td>
  </tr>
  <tr>
    <td><b> Gender</b></td>
    <td>&nbsp;{{gen}}</td>
  </tr>
  <tr>
    <td><b>Mobile</b></td>
    <td>&nbsp;{{mob}}</td>
  </tr>
  <tr>
    <td><b>Caste</b></td>
    <td>&nbsp;{{c}}</td>
  </tr>
  <tr>
    <td><b>Sub-Caste</b></td>
    <td>&nbsp;{{subc}}</td>
  </tr>
  <tr>
    <td><b>H-No</b></td>
    <td>&nbsp;{{hno}}</td>
  </tr>
  <tr>
    <td><b>Street/Village</b></td>
    <td>&nbsp;{{vill}}</td>
  </tr>
  <tr>
    <td><b>Mandal</b></td>
    <td>&nbsp;{{mdl}}</td>
  </tr>
  <tr>
    <td><b>District</b></td>
    <td>&nbsp;{{dis}}</td>
  </tr>
  <tr>
    <td><b>Pin Code</b></td>
    <td>&nbsp;{{zip}}</td>
  </tr>
  <tr>
    <td><b>Aadhar Card Number</b></td>
    <td>&nbsp;{{acard}}</td>
  </tr>
  <tr>
    <td><b>Email-ID</b></td>
    <td>&nbsp;{{mail}}</td>
  </tr>

</table>

</body>
</html>
